# IDEs
.vscode/
.idea/

# Node & pnpm
node_modules/
.pnpm-store/
npm-debug.log*
.pnpm-debug.log*

# Testing
coverage/

# Next.js
.next/
out/
next-env.d.ts

# Producción / builds
build/
*.tsbuildinfo

# Misceláneos
.DS_Store
*.pem

# Environment variables
.env
.env.*
!*.env.example
backend.env
common.env   

# Vercel
.vercel/

# Docker (local overrides)
docker-compose.override.local.yml

# Certificados
certificates/

# Python
__pycache__/
*.py[cod]

# GraphQL codegen
saleor-frontend/src/gql/

# SQL scripts with credentials
saleor-backend/replica_user.sql  
